#main-question-holder { 
    margin: 0 auto; 
    position: relative; 
    border:3px solid #dedede; 
    border-radius: 2px; 
    width: 600px; 
    font-family:  "Myriad", "Myriad Pro", "Helvetica","Segoe UI", "Lucida Sans Unicode", "Lucida Grande", sans-serif; 